<!DOCTYPE html>
<html lang="zh-cn">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="renderer" content="webkit">
<title></title>
<link rel="stylesheet" href="__URL__/css/pintuer.css">
<link rel="stylesheet" href="__URL__/css/admin.css">
<script src="__URL__/js/jquery.js"></script>
<script src="__URL__/js/pintuer.js"></script>
</head>
<body>
<form method="post" action="" id="listform">
  <div class="panel admin-panel">
    <div class="panel-head"><strong class="icon-reorder"> 内容列表</strong> <a href="" style="float:right; display:none;">添加字段</a></div>
    <div class="padding border-bottom">
      <ul class="search" style="padding-left:10px;">
        <li> <a class="button border-main icon-plus-square-o" href="add.html"> 添加内容</a> </li>
        <li>搜索:</li>
        
        <if condition="$iscid eq 1">
          <li>
            <select name="cid" class="input" style="width:200px; line-height:17px;" onchange="changesearch()">
              <option value="">请选择分类</option>
              <option value="">校园代步</option>
              <option value="">手机/电脑</option>
              <option value="">数码/配件</option>
              <option value="">产品/电器</option>
            </select>
          </li>
        </if>
        <li>
          <input type="text" placeholder="请输入搜索关键字" name="keywords" class="input" style="width:250px; line-height:17px;display:inline-block" />
          <a href="javascript:void(0)" class="button border-main icon-search" onclick="changesearch()" > 搜索</a></li>
          <span id ="ms"></span>
      </ul>
    </div>
    <table class="table table-hover text-center">
      <tr>
        <th width="100" style="text-align:left; padding-left:20px;">ID</th>
        <th width="10%">状态</th>
        <th>商品图片</th>
        <th>商品名称</th>
        <th>商品详情</th>
        <th>商品价格</th>
        <th>商品分类</th>
        <th width="10%">更新时间</th>
        <th width="310">操作</th>
      </tr>
      <volist name="list" id="vo">
       {foreach $result as $value}
        <tr id="shanchu">
          <td style="text-align:left; padding-left:20px;"><input type="checkbox" name="id" value="{$value['all_id']}" />
           </td>
          <td><input type="text" name="sort[1]" value="{$value['status']}" style="width:50px; text-align:center; border:1px solid #ddd; padding:7px 0;" />
          </td>
          <td width="10%"><img src="" alt="" width="70" height="50" /></td>
          <td>{$value['shop_name']}</td>
          <td><font color="#00CC99">{$value['shop_profile']}</font></td>
            <td><font color="#00CC99">{$value['shop_price']}</font></td>

          <td>产品分类</td>
          <td>{$value['update_time']}</td>
          <td><div class="button-group"> <a class="button border-main" href="修改页面"><span class="icon-edit"></span>查看</a>
           </tr>
        {/foreach}
      </volist>



  </div>

        <td colspan="8"><div class="pagelist"> 

          <!-- <a href="">上一页</a> 
            <span class="current">1</span><a href="">2</a><a href="">3</a><a href="">下一页</a><a href="">尾页</a>  -->

          {$result->render()}


          </div></td>
      </tr>
    </table>
  </div>
     <table class="table table-hover text-center">
      <tr>
        <th width="100" style="text-align:left; padding-left:20px;">ID</th>
        <th width="10%">状态</th>
        <th>商品图片</th>
        <th>商品名称</th>
        <th>商品详情</th>
        <th>商品价格</th>
        <th>商品分类</th>
        <th width="10%">更新时间</th>
        <th width="310">操作</th>
      </tr>
      <volist name="list" id="vo">
        {if !empty($data)}
        <tr id="sheji">
        <td style="text-align:left; padding-left:20px;"><input type="checkbox" name="id" value="" />
           </td>
          <td><input type="text" name="sort[1]" value="" style="width:50px; text-align:center; border:1px solid #ddd; padding:7px 0;" />
          </td> 
    </tr>
        {else}
           <tr id="sheji">
        
    </tr>
        {/if}
</div>

        <td colspan="8"><div class="pagelist">
             <!--  {$result->render()} -->
       </div></td>
      </tr>
    </table>

    </volist>

      <tr>
          <td colspan="7" style="text-align:left;padding-left:20px;"><a href="javascript:void(0)" class="button border-red icon-trash-o" style="padding:5px 15px;" onclick="DelSelect()"> 删除</a> 状态：<span id ="msg"></span></td>

      </tr>
      <tr>

      </tr>
    </table>
  </div>
</form>

<script type="text/javascript" src="__URL__/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">

   function  DelSelect()
   {


    var Checkbox=false;
    $("input[name=id]").each(function(){
    if (this.checked==true) {   
     Checkbox=true;  
     }
   });
  if (Checkbox){
   
        var set = new Array();
       $("input[name=id]:checked").each(function(){

        //alert(this.value);
        set.push(this.value);

      $.post( '/admin/Shop/ps',{id:set},function(data){

     // alert(data);

      if(data.code){
        $('#msg').html(data.msg);
        $('#shanchu').html('');
        //alert(data.msg);
       }else{
        $().html();

        $('#msg').html(data.msg);


       }

  },'JSON')
})


}
  else{
    alert("请选择您要删除的内容!");
    return false;
  }


  
  
    //alert('我要删除图片了');
  }

  /**
   * 这个是搜索商品功能
   * 能实现商品的模糊查询
   */
   function changesearch(){

           // alert(666);


            var word = $('input[name=keywords]').val();

           // alert(word);
    // // // 获取到了关键词
             $.post('/admin/Shop/search',{keywords:word},function(data){

              console.log(data);
                if(data.code == 1){


                    for (var i = 0; i <data.msg.length; i++) {
                    var html   = 
                        '<td><font color="#00CC99">'+data.msg[i]['all_id']+'</font></td>'+
                       '<td><font color="#00CC99">'+data.msg[i]['status']+'</font></td>'+
                       '<td width="10%"><img src='+data.msg[i]["shop_picture"]+' alt="" width="70" height="50" /></td>'+
                       '<td><font color="#00CC99">'+data.msg[i]['shop_name']+'</font></td>'+
                      '<td><font color="#00CC99">'+data.msg[i]['shop_profile']+'</font></td>'+
                      '<td><font color="#00CC99">'+data.msg[i]['shop_price']+'</font></td>'+
                      '<td><font color="#00CC99">'+data.msg[i]['shop_profile']+'</font></td>'+
                      '<td><font color="#00CC99">'+data.msg[i]['update_time']+'</font></td>'
                      $('#sheji').html(html);
                  };
              }else{
                       var html = '没有查询的内容';
                        $('#sheji').html(data.msg );
                   }

 },'JSON');
}
</script>
</body>
</html>